ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(0,0,0,0.87);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    text-decoration: underline;

  }

 img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 150px;

  }
    

input {
  margin: auto;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 484px;
  height: 46px;
  font-size: 16px;
  display: block;
  border-radius: 30px;
  border: 1px solid grey;
  padding-left: 8px;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;

  
}
  
button {
  background-color: #ccc;
  margin: 5px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: rgb(199, 193, 193);
  width: 100%;

}

